In [1]:
import os
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.offline as pof

In [2]:
df = pd.read_csv('gdp_assignment.csv')

In [3]:
df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [4]:
df[df['Country Name'] == 'World']

     Country Name Country Code  Year         Value
2249        World          WLD  1960  1.366678e+12
2250        World          WLD  1961  1.421788e+12
2251        World          WLD  1962  1.526955e+12
2252        World          WLD  1963  1.643752e+12
2253        World          WLD  1964  1.800796e+12
2254        World          WLD  1965  1.961780e+12
2255        World          WLD  1966  2.128450e+12
2256        World          WLD  1967  2.264600e+12
2257        World          WLD  1968  2.443224e+12
2258        World          WLD  1969  2.690798e+12
2259        World          WLD  1970  2.957800e+12
2260        World          WLD  1971  3.266907e+12
2261        World          WLD  1972  3.767674e+12
2262        World          WLD  1973  4.591346e+12
2263        World          WLD  1974  5.296032e+12
2264        World          WLD  1975  5.897205e+12
2265        World          WLD  1976  6.416473e+12
2266        World          WLD  1977  7.257627e+12
2267        World          WLD  1978  8.542925e+12
2268        World          WLD  1979  9.925897e+12
2269        World          WLD  1980  1.117220e+13
2270        World          WLD  1981  1.146435e+13
2271        World          WLD  1982  1.136365e+13
2272        World          WLD  1983  1.162371e+13
2273        World          WLD  1984  1.206507e+13
2274        World          WLD  1985  1.268915e+13
2275        World          WLD  1986  1.502258e+13
2276        World          WLD  1987  1.709169e+13
2277        World          WLD  1988  1.914081e+13
2278        World          WLD  1989  2.009283e+13
2279        World          WLD  1990  2.259501e+13
2280        World          WLD  1991  2.392763e+13
2281        World          WLD  1992  2.540995e+13
2282        World          WLD  1993  2.585904e+13
2283        World          WLD  1994  2.776751e+13
2284        World          WLD  1995  3.087259e+13
2285        World          WLD  1996  3.155268e+13
2286        World          WLD  1997  3.143539e+13
2287        World          WLD  1998  3.133878e+13
2288        World          WLD  1999  3.251083e+13
2289        World          WLD  2000  3.356657e+13
2290        World          WLD  2001  3.335455e+13
2291        World          WLD  2002  3.463596e+13
2292        World          WLD  2003  3.889406e+13
2293        World          WLD  2004  4.380482e+13
2294        World          WLD  2005  4.742889e+13
2295        World          WLD  2006  5.136324e+13
2296        World          WLD  2007  5.785897e+13
2297        World          WLD  2008  6.346181e+13
2298        World          WLD  2009  6.016835e+13
2299        World          WLD  2010  6.595453e+13
2300        World          WLD  2011  7.327986e+13
2301        World          WLD  2012  7.488995e+13
2302        World          WLD  2013  7.699086e+13
2303        World          WLD  2014  7.904923e+13
2304        World          WLD  2015  7.475775e+13
2305        World          WLD  2016  7.584511e+13

In [5]:
df[df['Year'] == 1969]

,Country Name,Country Code,Year,Value
1,Arab World,ARB,1969,2.843420e+10
58,Caribbean small states,CSS,1969,3.563688e+09
142,Early-demographic dividend,EAR,1969,2.633785e+11
199,East Asia & Pacific,EAS,1969,3.461594e+11
256,East Asia & Pacific (excluding high income),EAP,1969,1.142179e+11
...,...,...,...,...
11095,Uruguay,URY,1969,2.004435e+09
11217,"Venezuela, RB",VEN,1969,1.179504e+10
11304,Virgin Islands (U.S.),VIR,1969,2.113000e+08
11402,Zambia,ZMB,1969,1.965714e+09
11459,Zimbabwe,ZWE,1969,1.747999e+09

# 1) How many unique Countries Data we're having in the dataset?

In [6]:
df['Country Name'].nunique()

256

# 2) How many years of Data we're having for India

In [7]:
df[df['Country Name'] == 'India'].nunique()['Year']  # 2.(also works) df[df['Country Code'] == 'IND'].nunique()['Year']

57

# 3) Whats the world GDP in 1969?

In [42]:
l = []
for i in range(len(df)):
    l.append(str(df['Year'][i]) + '_' + str(df['Country Code'][i]))
df['Year_CC'] = l

In [41]:
df[df['Year_CC'] == '1969_WLD'].sum()['Value']

2690797713906.75

# 4) Whats the % of GDP growth of India in Year 1994 (*as compare to 1993)?

In [40]:
l = []
for i in range(len(df)):
    l.append(str(df['Year'][i]) + '_' + str(df['Country Code'][i]))
df['Year_CC'] = l    

x = df[df['Year_CC'] == '1994_IND'].sum()['Value']
y = df[df['Year_CC'] == '1993_IND'].sum()['Value']

P_GDP_Growth = ((x-y)/y)*100

P_GDP_Growth

17.178748210146075

# Task

## 1) Find GDP Growth of India from 1960 - 2016

In [ ]:
x = df[df['Year_CC'] == '2016_IND'].sum()['Value']
y = df[df['Year_CC'] == '1960_IND'].sum()['Value']

GDP_Growth = ((x-y)/y)

GDP_Growth

In [ ]:
df.groupby('Country Name').sum()['Value']

In [ ]:
df

In [ ]:
df['Country Name'].describe()

In [19]:
final_data = []
for country in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country]
    data = df_pr.values
    gdp_change = [0]
    
    for i in range(1,len(data)):
        prev = data[i-1][3]
        cur = data [i][3]
        
        gdp_change.append(round(((cur-prev)/prev)*100,2))
        
    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)

In [20]:
df = pd.concat(final_data , axis = 0)

In [21]:
df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

In [ ]:
df.groupby('Country Name').mean()['GDP'].sort_values(ascending = False)

# Since we have incoorect data like some countries are not from min to max year..so mean is incorrect..we hv to apply more logics

In [ ]:
df[df['Country Name'] == 'Afghanistan']   # After 1981 2001 data is given

In [ ]:
df.groupby('Country Name').max()['Value'].sort_values(ascending = False).head(50).plot(kind = 'bar' , figsize = (15,10))

In [ ]:

df_pr1 = df[df['Country Name'] == 'India']
fig = px.line(df_pr1 , x ='Year' , y = 'Value' , title = 'World GDP Analysis' , range_y = [0 , 80000000000000])# also we can give range for y or x axis
fig

In [ ]:
pof.plot(fig , filename = 'World GDP Analysis.html')

# so now automating process to save all the country's analysis part

In [ ]:
os.mkdir('GDP INDIVIDUAL2')

for i in df['Country Name'].unique():
    #print(i)
    df_pr1 = df[df['Country Name'] == i]
    #print('yes')
    fig = px.line(df_pr1 , x ='Year' , y = 'Value' , title = f'{i} GDP Analysis')
    pof.plot(fig , filename = 'GDP INDIVIDUAL2/' + f'{i} GDP Analysis.html')

# GDP of Each Country WRT 80T

In [ ]:
os.mkdir('GDP WRT World_80T')

for i in df['Country Name'].unique():
    
    df_pr1 = df[df['Country Name'] == i]
    
    fig = px.line(df_pr1 , x ='Year' , y = 'Value' , title = f'{i} GDP Analysis' , range_y = [0,80000000000000])
    pof.plot(fig , filename = 'GDP WRT World_80T/' + f'{i} GDP Analysis.html' , auto_open = False)

# All Countries GDP GRAPH

In [ ]:
fig = px.line(df , x = 'Year' , y = 'Value' , title = 'All Countries GDP GROWTH ANALYSIS' , color = 'Country Name')

pof.plot(fig , filename = 'GDP Growth Chart Analysis.html')

# Specific Country GDP Comparison

In [10]:
c1 = df[df['Country Name'] == 'India']
c2 = df[df['Country Name'] == 'China']

In [11]:
df_pr = pd.concat([c1,c2] , axis = 0)

In [13]:
fig = px.line(df_pr , x = 'Year' , y = 'Value' , title = 'GDP GROWTH ANALYSIS' , color = 'Country Name')

pof.plot(fig , filename = 'IND _ CHN GDP Growth Analysis.html')

'IND _ CHN GDP Growth Analysis.html'

### Now make a Func for it

In [16]:
def compare_gdp(lst, isOpen):
    dfs = []
    for i in lst:
        dfs.append(df[df['Country Code'] == i])
        
        df_pr = pd.concat(dfs, axis = 0)
        
    fig = px.line(df_pr , x = 'Year' , y = 'Value' , title = 'GDP Comparison - ' + '-'.join(lst) , color = 'Country Name')
    pof.plot(fig , filename = '-'.join(lst) + '.html' , auto_open = isOpen)

In [17]:
compare_gdp(['IND','CHN','USA','ITA'], True)

# GDP % GROWTH Process

In [22]:
fig = px.line(df , x = 'Year' , y = 'GDP' , title = 'GDP % GROWTH ANALYSIS' , color = 'Country Name')

pof.plot(fig , filename = 'All Countries GDP % Growth Analysis.html')

'All Countries GDP % Growth Analysis.html'

# btw 1960 - 2016

In [32]:
dfs = [] 
for i in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == i]
    
    if len(df_pr) == 57:
        dfs.append(df_pr)

df_pr = pd.concat(dfs)


fig = px.line(df , x = 'Year' , y = 'GDP' , title = 'GDP % GROWTH ANALYSIS' , color = 'Country Name')

pof.plot(fig , filename = 'All Countries GDP % Growth Analysis.html')

In [39]:
fig = px.line(df_pr , x = 'Year' , y = 'GDP' , title = 'GDP % GROWTH ANALYSIS' , color = 'Country Name')

pof.plot(fig , filename = '120 countries GDP % Growth Analysis(1960-2016).html')

'120 countries GDP % Growth Analysis(1960-2016).html'